.button {
  padding: $s-size;
  font-weight: 300;
  display: inline-block;
  font-size: $font-size-large;
  background: $blue;
  color: white;
  line-height: 1;
  border: none;
  text-decoration: none;
}
.button__link {
  background: none;
}
.button__remove {
  @extend .button;
  background-color: #888888;
}
